@mixin btn-size ($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}



@mixin btn-color ($color,
  $bgColor,
  $borderColor,
  $hoverColor: $primary,
  $hoverBgColor: lighten($bgColor, 5%),
  $hoverBorderColor: lighten($primary, 10%),
) {
  color: $color;
  background-color: $bgColor;
  border-color: $borderColor;

  &:hover,
  &:focus,
  &:active {
    color: $hoverColor;
    background-color: $hoverBgColor;
    border-color: $hoverBorderColor;
  }
}


@mixin btn-disabled ($color: $btn-disabled-color,
  $bgColor: $btn-disabled-bg,
  $borderColor: $btn-disabled-border-color) {

  &[disabled],
  &.diabled {
    cursor: not-allowed;
    > * {
      pointer-events: none
    };

    &,
    &:hover,
    &:focus,
    &:active {
      color: $color;
      background-color: $bgColor;
      border-color: $borderColor;
    }
  }
}

@mixin zoom-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top,
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
}